$maincolor: #e37ab0;
$subcolor: #6f99e3;
$backcolor: #FFF7FB;

a {
    text-decoration: none;
}
ul {
    list-style: none;
}


@media screen and (max-width: 768px) {
    .header__logo {
        width: 130%;
        margin: 15% 0 0 15%;
    }
    .header__menu {
        display: none;
    }
    .header__btn {
        display: none;
    }

    .main__home-bkimg--pc {
        display: none;
    }
    .main__home-bkimg--sp {
        width: 400%;
        position: relative;
    }
    .main__home-txt {
        position: absolute;
        top: 0;
        h1 {
            white-space: nowrap;
            font-size: 35vw;
            transform: translate(5%, 150%);
        }
        p {
            font-size: 16.5vw;
            transform: translate(5%, 300%);
        }
        a {
            display: inline-block;
            background-color: $maincolor;
            padding: 20vw 75vw;
            font-size: 16.5vw;
            border-radius: 30vw;
            color: #fff;
            transform: translate(7%, 1090%);
        }
    }
    .main__home-img {
        position: absolute;
        top: 0;
        transform: translate(5%, 83%);
        width: 360%;
    }

    .main__home--graph {
        width: 400%;
        background-color: $backcolor;
        padding: 50% 0;
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        h1 {
            width: 80%;
            font-size: 16vw;
            margin-bottom: 5%;
        }
    }
    .main__home--graph-img {
        width: 80%;
    }

    .main__trouble {
        margin-top: 50%;
        width: 400%;
        h2 {
            text-align: center;
            font-size: 25vw;
        }
    }
    .main__trouble--card {
        margin-top: 10%;
        margin-bottom: 10%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        img {
            width: 30%;
        }
        p {
            width: 50%;
            font-size: 16.5vw;
            font-weight: bold;
        }
    }
    .main__trouble--card:nth-of-type(2) {
        display: flex;
        flex-direction: row-reverse;
    }

    .main__solution {
        margin-top: 50%;
        padding: 50% 0;
        background-color: $backcolor;
        width: 400%;
        h2 {
            text-align: center;
            font-size: 25vw;
        }
    }
    .main__solution-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .main__solution-text {
        width: 80%;
        span {
            display: block;
            font-size: 20vw;
            margin-top: 10%;
            color: $maincolor;
            font-weight: bold;
        }
        h3 {
            margin-top: 1%;
            font-size: 18vw;
        }
        p {
            font-size: 15vw;
            margin-top: 5%;
        }
    }
    .main__solution-content {
        img {
            width: 90%;
            margin-top: 5%;
        }
    }
    .main__solution-content:nth-of-type(2) {
        display: flex;
        flex-direction: column-reverse;
    }

    .main__feature {
        margin-top: 50%;
        width: 400%;
        h2 {
            text-align: center;
            font-size: 25vw;
        }
    }
    .main__feature-group {
        margin-top: 5%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .main__feature-content {
        margin: 1%;
        width: 40%;
        border: 1vw solid $maincolor;
        border-radius: 20vw;
        box-shadow: 0 0 6vw $maincolor;
        text-align: center;
        img {
            margin: 10%;
            width: 70%;
        }
        p {
            font-size: 16vw;
            margin-bottom: 5%;
        }
    }

    .main__link {
        margin-top: 50%;
        padding: 50% 0;
        background-color: $maincolor;
        width: 400%;
        h2 {
            width: 80%;
            text-align: center;
            font-size: 20vw;
            color: #fff;
            transform: translateX(10%);
        }
    }
    .main__link-btn {
        margin-top: 10%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .main__link-btn--blue {
        font-size: 16vw;
        background-color: $subcolor;
        color: #fff;
        width: 80%;
        text-align: center;
        padding: 20vw 10vw;
        border-radius: 30vw;
    }
    .main__link-btn--white {
        margin-top: 5%;
        font-size: 16vw;
        background-color: #fff;
        color: $maincolor;
        width: 80%;
        text-align: center;
        padding: 20vw 10vw;
        border-radius: 30vw;
    }

    .main__intro {
        margin-top: 50%;
        width: 400%;
        h2 {
            text-align: center;
            font-size: 25vw;
        }
    }
    .main__intro-cards {
        display: flex;
        overflow-x: auto;
    }
    .main__intro-card {
        flex: 0 0 auto;
        margin: 10% 5% 5% 2%;
        border-radius: 10vw;
        box-shadow: 0 0 6vw #ddd;
        width: 90%;
        img {
            border-radius: 10vw;
            width: 100%;
        }
    }
    .main__intro-tag {
        display: inline-block;
        font-size: 18vw;
        background-color: #fff;
        border: 2vw solid $maincolor;
        padding: 2% 3%;
        transform: translate(30%, -50%);
    }
    .main__intro-text {
        width: 80%;
        transform: translateX(10%);
        p {
            margin-bottom: 10%;
            font-size: 16vw;
        }
        h3 {
            font-size: 20vw;
            padding-bottom: 10%;
        }
    }

    .main__cost {
        margin-top: 50%;
        width: 400%;
        h2 {
            text-align: center;
            font-size: 25vw;
        }
    }
    .main__cost-cards {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .main__cost-plan {
        box-shadow: 0 0 6vw #dedede;
        width: 80%;
        border-radius: 10vw;
        margin: 10% 0;
    }
    .main__cost-plan--ttl {
        font-size: 16vw;
        text-align: center;
        background-color: $subcolor;
        padding: 5% 0;
        color: #fff;
        border-radius: 10vw 10vw 0 0;
        p {
            margin-bottom: 3%;
        }
        h3 {
            font-size: 30vw;
        }
        span {
            font-size: 15vw;
        }
    }
    .main__cost-plan--ttl-pink {
        font-size: 18vw;
        text-align: center;
        background-color: $maincolor;
        padding: 5% 0;
        color: #fff;
        border-radius: 10vw 10vw 0 0;
        p {
            margin-bottom: 3%;
        }
        h3 {
            font-size: 30vw;
        }
        span {
            font-size: 15vw;
        }
    }
    .main__cost-plan--text {
        font-size: 16vw;
        text-align: center;
        margin: 5% 0;
        p {
            padding: 5% 0 1% 0;
            border-bottom: 1vw solid #dedede;
            width: 80%;
            transform: translateX(13%);
            color: #535353;
        }
    }
    .main__cost-plan--btn {
        display: inline-block;
        font-size: 16vw;
        text-align: center;
        width: 80%;
        background-color: #e8e8e8;
        padding: 5% 0;
        margin-bottom: 5%;
        transform: translateX(13%);
        border-radius: 30vw;
        color: #000;
    }

    .main__question {
        margin-top: 50%;
        width: 400%;
        h2 {
            text-align: center;
            font-size: 25vw;
        }
    }
    .main__question-group {
        width: 80%;
        transform: translateX(13%);
        margin: 5% 0;
    }
    .main__question-content {
        font-size: 16vw;
        font-weight: bold;
        border: 1vw solid $maincolor;
        border-radius: 15vw;
        color: $maincolor;
        display: flex;
        justify-content: space-between;
        align-items: center;
        h3 {
            padding: 5% 0;
            margin-left: 3%;
        }
        p {
            padding: 5% 0;
            margin-left: 5%;
        }
    }
    .arrow-content {
        width: 6vw;
        height: 6vw;
        border-top: 1vw solid #000;
        border-right: 1vw solid #000;
        transform: rotate(135deg);
        margin-right: 5%;
    }
    .main__answer-content {
        font-size: 17vw;
        display: flex;
        h3 {
            color: $subcolor;
            padding: 5% 0;
            margin-left: 3%;
        }
        p {
            padding: 5% 0;
            margin: 0 5%;
        }
    }

    .footer {
        margin-top: 50%;
        transform: translateX(90%);
    }
    .footer__logo {
        width: 180vw;
        transform: translateX(-30%);
    }
    .footer__menu-left {
        display: flex;
        flex-direction: column;
        white-space: nowrap;
        a {
            font-size: 16vw;
            margin-top: 30%;
            color: #000;
        }
    }
    .footer__menu-right {
        display: flex;
        flex-direction: column;
        white-space: nowrap;
        a {
            font-size: 16vw;
            margin-top: 30%;
            color: #000;
        }
    }

    .small {
        display: block;
        margin-top: 100%;
        margin-bottom: 20%;
        white-space: nowrap;
        font-size: 14vw;
        transform: translateX(140%);
    }
}


@media screen and (min-width: 769px) {
    .header {
        margin: 10px 30px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .header__logo {
        width: 100%;
    }
    .header__menu {
        margin-left: 15%;
        margin-right: 5%;
        display: flex;
        li {
            padding: 0 10px;
            font-size: 1.2vw;
            white-space: nowrap;
            a {
                color: #000;
            }
        }
    }
    .header__btn {
        border-radius: 10px;
        font-size: 1.2vw;
        white-space: nowrap;
        a {
        color: #fff;
        }
    }
    .header__btn-pink {
        border-radius: 30px;
        background-color: $maincolor;
        padding: 10px 30px;
    }
    .header__btn-blue {
        border-radius: 30px;
        background-color: $subcolor;
        padding: 10px 30px;
    }

    .main__home-bkimg--pc {
        width: 100%;
        position: relative;
    }
    .main__home-bkimg--sp {
        display: none;
    }
    .main__home-img {
        width: 30%;
        position: absolute;
        top: 15%;
        right: 15%;
    }
    .main__home-txt {
        position: absolute;
        top: 30%;
        left: 16%;
        width: 35%;
        h1 {
            font-size: 3vw;
        }
        p {
            margin: 10% 0;
            font-size: 1.1vw;
        }
        a {
            background-color: $maincolor;
            padding: 1.5vw 6vw;
            font-size: 1vw;
            border-radius: 30px;
            color: #fff;
        }
    }

    .main__home--graph {
        transform: translateY(-30%);
        background-color: $backcolor;
        width: 100%;
        padding: 5% 0;
        display: flex;
        justify-content: center;
        align-items: center;
        h1 {
            font-size: 2.8vw;
        }
    }
    .main__home--graph-img {
        transform: translateX(-9%);
        width: 50%;
    }
    .main__home--graph-img img {
        width: 100%;
    }

    .main__trouble {
        text-align: center;
        h2 {
            font-size: 2vw;
            margin-bottom: 2%;
        }
    }
    .main__trouble--cards {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .main__trouble--card img {
        width: 85%;
    }
    .main__trouble--card p {
        margin-top: 5%;
        font-size: 1.5vw;
        font-weight: bold;
    }

    .main__solution {
        margin-top: 3%;
        text-align: center;
        background-color: $backcolor;
        padding: 5% 0;
        h2 {
            font-size: 2.5vw;
            margin-bottom: 2%;
        }
    }
    .main__solution-menu {
        width: 70%;
        transform: translateX(20%);
    }
    .main__solution-content {
        display: flex;
        justify-content: space-around;
        align-items: center;
        img {
            width: 40%;
        }
    }
    .main__solution-text {
        width: 40%;
        text-align: left;
        display: flex;
        flex-direction: column;
        p {
            font-size: 0.98vw;
        }
    }
    .main__solution-ttl {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 4%;
        h3 {
            font-size: 1.9vw;
        }
        span {
            color: $maincolor;
            font-size: 2vw;
            font-weight: bold;
            padding: 4% 4% 4% 0;
        }
    }

    .main__feature {
        margin-top: 5%;
        margin-bottom: 5%;
        text-align: center;
        h2 {
            font-size: 2.5vw;
            margin-bottom: 3%;
        }
    }
    .main__feature-group {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .main__feature-content {
        margin: 1%;
        border: 3px solid $backcolor;
        border-radius: 15px;
        box-shadow: 0 0 6px $maincolor;
        padding: 1%;
        font-size: 1vw;
        img {
            width: 100%;
        }
    }

    .main__link {
        padding: 5% 0;
        background-color: $maincolor;
        text-align: center;
        h2 {
            font-size: 2.5vw;
            color: #fff;
        }
    }
    .main__link-btn {
        margin-top: 2%;
        display: flex;
        justify-content: center;
    }
    .main__link-btn--blue {
        margin-right: 1%;
        background-color: $subcolor;
        border-radius: 30px;
        color: #fff;
        padding: 1.5% 10%;
    }
    .main__link-btn--white {
        margin-left: 1%;
        background-color: #fff;
        border-radius: 30px;
        color: $maincolor;
        padding: 1.5% 7%;
    }

    .main__intro {
        margin-top: 5%;
        h2 {
            text-align: center;
            font-size: 2.5vw;
            margin-bottom: 2%;
        }
    }
    .main__intro-cards {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .main__intro-card {
        box-shadow: 0 0 6px #DDD;
        width: 18%;
        border-radius: 15px;
        img {
            width: 100%;
            border-radius: 15px;
        }
    }
    .main__intro-tag {
        transform: translate(40%, -60%);
        padding: 2% 3%;
        display: inline-block;
        background-color: #fff;
        border: 1px solid $maincolor;
        font-size: 1.2vw;
    }
    .main__intro-text {
        margin-left: 5%;
        p {
            margin: 3% 0 7% 0;
            font-size: 1.2vw;
        }
        h3 {
            font-size: 1.5vw;
            font-weight: bold;
            margin-bottom: 10%;
        }
    }

    .main__cost {
        margin-top: 15%;
        h2 {
            text-align: center;
            font-size: 2.5vw;
            margin-bottom: 2%;
        }
    }
    .main__cost-cards {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .main__cost-plan {
        box-shadow: 0 0 6px #DEDEDE;
        border-radius: 15px;
        width: 23%;
        text-align: center;
    }
    .main__cost-plan--ttl {
        background-color: $subcolor;
        text-align: center;
        color: #fff;
        border-radius:15px 15px 0 0;
        padding: 5% 0 5% 0;
        p {
            font-size: 0.9vw;
            margin-bottom: 2%;
        }
        h3 {
            font-size: 1.8vw;
        }
        span {
            font-size: 0.9vw;
        }
    }
    .main__cost-plan--ttl-pink {
        background-color: $maincolor;
        text-align: center;
        color: #fff;
        border-radius:15px 15px 0 0;
        padding: 5% 0 5% 0;
        p {
            font-size: 0.9vw;
            margin-bottom: 2%;
        }
        h3 {
            font-size: 1.8vw;
        }
        span {
            font-size: 0.9vw;
        }
    }
    .main__cost-plan--text {
        margin-top: 2%;
        width: 80%;
        transform: translateX(10%);
        p {
            color: #535353;
            border-bottom: 1px solid #DEDEDE;
            padding: 5% 0;
            font-size: 1.2vw;
        }
    }
    .main__cost-plan--btn {
        display: inline-block;
        margin: 10% 0;
        font-size: 1.2vw;
        background-color: #E8E8E8;
        padding: 5% 30%;
        border-radius: 50px;
        color: #000;
    }

    .main__question {
        margin-top: 15%;
        h2 {
            text-align: center;
            font-size: 2.5vw;
            margin-bottom: 5%;
        }
    }
    .main__question-group {
        transform: translateX(50%);
        width: 50%;
    }
    .main__question-content {
        display: flex;
        align-items: center;
        border: 1px solid $maincolor;
        padding: 3% 0 3% 2%;
        border-radius: 15px;
        color: $maincolor;
        h3 {
            margin-right: 3%;
            font-size: 1.3vw;
        }
        p {
            font-size: 1vw;
            font-weight: bold;
        }
    }
    .arrow-content {
        margin-left: auto;
        margin-right: 2%;
        width: 0.5vw;
        height: 0.5vw;
        border-top: 0.1vw solid #000;
        border-right: 0.11vw solid #000;
        transform: rotate(135deg);
    }
    .main__answer-content {
        padding: 3% 0 3% 2%;
        display: flex;
        margin-bottom: 5%;
        h3 {
            color: $subcolor;
            margin-right: 3%;
            font-size: 1.3vw;
        }
        p {
            font-size: 1.05vw;
        }
    }

    .footer {
        margin-top: 10%;
        display: flex;
        justify-content: space-around;
    }
    .footer__menu-left {
        display: flex;
        flex-direction: column;
        a {
            display: inline-block;
            color: #000;
            margin-bottom: 30%;
        }
    }
    .footer__menu-right {
        display: flex;
        flex-direction: column;
        a {
            display: inline-block;
            color: #000;
            margin-bottom: 15%;
        }
    }

    .small {
        display: block;
        margin-top: 5%;
        text-align: center;
    }
}